<div id="social-bar">
    <span>
          <a href="http://twitter.com/home?status={{encode title}}%20{{url absolute="true"}}" class="fa fa-twitter popup">
          </a>
      </span>
			<span>
          <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}&amp;summary={{excerpt}}..." class="fa fa-linkedin popup">
          </a>
      </span>
      <span>
          <a href="http://www.reddit.com/submit?url={{url absolute="true"}}" class="fa fa-reddit popup">
          </a>
      </span>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{asset '/js/rrssb.min.js'}}"></script>
{{#contentFor "head"}}
	<link rel="stylesheet" type="text/css" href="{{asset '/styles/rrssb.css'}}">
	<meta property="og:title" content="{{title}}" />
	<meta property="og:type" content="article" />
	<meta property="og:description" content="{{excerpt}}..."/>
{{/contentFor}}
